@use 'base/variables' as v;
@use 'base/mixins' as m;

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: v.$font;
    font-size: 1.6rem;
    // min-height: 100%;
    background-color: v.$red;
    background-image: url(../img/bg-intro-mobile.png);
    font-size: 1.6rem;
    color: #FFF;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    @include m.desktop{
        min-height: 100vh;
        background-image: url(../img/bg-intro-desktop.png);
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, p {
    margin: 0;
}

.container {
    min-width: 37.5rem;
    max-width: 111rem;
    margin: 0 auto;
    padding: 8.8rem 2.4rem 6.8rem 2.4rem;
    @include m.desktop{
        margin: 12.1rem auto;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 4.5rem;
    }
}
