@use 'base/variables' as v;
@use 'base/mixins' as m;

.info {
    text-align: center;

    @include m.desktop{
        width: 52.5rem;
        text-align: left;
    }

    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 3.6rem;
        letter-spacing: -0.292px;

        @include m.desktop{
            font-size: 5rem;
            line-height: 5.5rem;
            letter-spacing: -0.521px;
        }
    }

    &__desc {
        margin-top: 1.6rem;
        font-weight: 500;
        line-height: 2.6rem;

        @include m.desktop{
            margin-top: 2rem;
        }
    }
}