@use 'base/variables' as v;
@use 'base/mixins' as m;

.main {
    margin-top: 6.4rem;

    @include m.desktop{
        width: 54rem;
        margin: 0;
    }

    &__cta {
        border: 0;
        border-radius: 1rem;
        background-color: v.$blue;
        box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
        padding: 1.8rem 6.6rem;
        color: #FFF;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.6rem;
        letter-spacing: 0.268px;
        margin-bottom: 2.4rem;
        @include m.desktop{
            width: 100%;
            padding: 1.7rem 10.2rem;
        }

        & span {
            font-weight: 400;
        }
    }
}

.form {
    background-color: #FFF;
    border-radius: 1rem;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    padding: 2.4rem;

    @include m.desktop{
        padding: 4rem;
    }

    &__field {
        width: 100%;
        margin-bottom: 1.6rem;
        position: relative;
    }

    &__label {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        white-space: nowrap;
    }

    &__input {
        width: 100%;
        height: 5.6rem;
        border-radius: .5rem;
        border: 1px solid #DEDEDE;
        padding: 1.5rem 0 1.5rem 1.941rem;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.6rem;
        letter-spacing: 0.25px;

        &::placeholder {
            opacity: .75;
        }

        &:focus {
            border: 1px solid #5E54A4;
        }

        &--error {
            border: .2rem solid v.$red;
            color: v.$red;

            &::placeholder {
                color: v.$red;
            }
        }

        &-message {
            margin-top: .6rem;
            display: block;
            color: v.$red;
            text-align: right;
            font-size: 1.1rem;
            font-style: italic;
            font-weight: 500;
        }

        &-icon {

            &--error {
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                background-image: url(../img/icon-error.svg);
                position: absolute;
                top: 16px;
                right: 27px;
            }
        }
    }

    &__submit {
        border: 0;
        border-radius: .5rem;
        width: 100%;
        background-color: v.$green;
        box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
        padding: 1.5rem 4.4rem 1.5rem 4.4rem;
        color: #FFF;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2.6rem;
        letter-spacing: 1px;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            background-color: #77E2B3;
        }
    }

    &__terms {
        width: 24.9rem;
        text-align: center;
        margin-top: .8rem;
        color: v.$grayish-blue;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 21px;

        @include m.desktop{
            width: 100%;
            line-height: 21px;
        }

        & span {
            color: v.$red;
            font-weight: 700;
        }
    }
}